In [4]:
source("./polyjit.R")
source("./shiny-data.R")

library(RPostgres)

con <- dbConnect(RPostgres::Postgres(),
                 dbname="pprof",
                 user="pprof",
                 host="debussy.fim.uni-passau.de",
                 port=32768,
                 password="pprof")

In [2]:
q <- paste("REFRESH MATERIALIZED VIEW run_log WITH DATA;")
qr <- dbSendQuery(con, q)
res <- dbFetch(qr)
dbClearResult(qr)

[1] TRUE

In [9]:

qr <- dbSendQuery(con, "SELECT COUNT(DISTINCT(project_name)), experiment_name FROM run_log GROUP BY experiment_name, experiment_group;")
res <- dbFetch(qr)
head(res)

  count experiment_name
1   192            papi
2   193        papi-std
3   196         polyjit
4   195         polyjit
5     1         polyjit
6   196         polyjit

In [8]:

qr <- dbSendQuery(con, "SELECT COUNT(DISTINCT(project_name)), experiment_name FROM run_log WHERE status != '0' GROUP BY experiment_name, experiment_group;")
res <- dbFetch(qr)
head(res)

  count experiment_name
1     4            papi
2     4        papi-std
3    14         polyjit
4    14         polyjit
5    22         polyjit
6     1         polyjit

In [7]:
qr <- dbSendQuery(con, "SELECT COUNT(name) FROM project;")
res <- dbFetch(qr)
head(res)

  count
1   688

In [39]:
qr <- dbSendQuery(con, "SELECT COUNT(DISTINCT project_name) from run_compilestats as r WHERE component like '%%jit%%' and name like '%jitable%' and experiment_group = '';")
res <- dbFetch(qr)
res

  count
1    24

In [41]:
qr <- dbSendQuery(con, "SELECT COUNT(DISTINCT project_name) from run_likwid WHERE region like 'polyjit.params.select' and experiment_group = '33b26bb8-4881-46a0-bca5-60dfa46a311a';")
res <- dbFetch(qr)
res

  count
1    32

In [48]:
qr <- dbSendQuery(con, "SELECT COUNT(DISTINCT project_name) from run, likwid, log WHERE run.id = log.run_id and run.id = likwid.run_id and status = 0 and region like 'polyjit.params.select' and experiment_group = '33b26bb8-4881-46a0-bca5-60dfa46a311a';")
res <- dbFetch(qr)
res

  count
1    32